grpcio
grpcio-tools
mcp
optimum-intel[openvino,nncf]
chromadb
opencv-python
imageio-ffmpeg
soundfile
python-pptx
fpdf
psutil
transformers
torch
uv
sonora
urllib3<2.0
uvicorn
chromadb
openai-whisper
sentence-transformers
numpy
--extra-index-url https://download.pytorch.org/whl/cpu
num2words
torchvision>=0.20.0
numpy<2.3.0
pillow<12.0
networkx<3.5
